body.admin-bar #main {
    height: calc(100vh - 117px);
}

#main {
    height: calc(100vh - 85px);
    background-color: #4092cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 100px 33px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#main .main-swiper.swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-swiper.swiper .swiper-slide {
    position: relative;
}

.main-swiper.swiper .swiper-slide::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.main-swiper.swiper .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}


.swiper-prev,
.swiper-next {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(126, 195, 233, 0.9);
    width: 60px;
    height: 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-60px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-prev {
    left: 0;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.swiper-next {
    right: 0;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-top {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 0 0 15px #145C8E;
}

.main-content {
    max-width: 640px;
    border-radius: 60px;
    padding: 60px 25px;
}

.main-content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0 0 30px #145C8E;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.blue-btn {
    border-radius: 60px;
    color: #FFFFFF;
    background: linear-gradient(93deg, rgba(20,92,142,1) 0%, rgba(6,126,209,1) 25%);
    background-size: 400%;
    background-position: left center;
    max-width: max-content;
    margin: 0 auto;
}

.big-btn {
    padding: 34px 80px;
    font-size: 20px;
    line-height: 24px;
}

.main-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 15px #145C8E;
}

.question,
.question:hover {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#main .socials {
    color: #FFFFFF;
}

#main .socials img {
    background-color: #FFFFFF;
}

.about-row {
    display: flex;
    column-gap: 60px; 
}

.about-col {
    width: calc(50% - 30px);
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 146.9%;
    color: #212121;
    margin-bottom: 40px;
}

.about-col img {
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.about-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 146.9%;
    color: #212121;
}

.about-text img {
    max-width: 380px;
    height: auto;
    margin-left: 68px;
}

.how-it-works-content {
    display: grid;
    grid-area: '. . .'
               '. . .';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px 40px;
    margin-bottom: 50px;
}

.how-it-works-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 146.9%;
    padding-right: 30px;
    color: #212121;
}

.how-it-works-title {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 22px;
    line-height: 37px;
    color: #3C3C3C;
}

.how-it-works-title .number {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #145C8E;
    position: relative;
    margin: 0 30px;
}

.how-it-works-title .number::after {
    content: url('../imgs/flake.png');
    position: absolute;
    top: -20px;
    left: -35px;
    z-index: -1;
}